[submodule "pvzclass"]
	path = include/pvzclass
	url = https://github.com/PVZClassAcademy/pvzclass
	shallow = true
[submodule "nlohmann_json"]
	path = include/json
	url = https://github.com/nlohmann/json
	branch = v3.12.0
